.login{
	height: calc(100vh - 50px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("https://miro.medium.com/max/1400/0*hDAyhnOx767w5qma.jpg");
	background-size: cover;
}
.loginTitle{
	font-size: 50px;
	color: #fff;
	font-weight: 400;

}
.loginForm{
	width: 30%;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255,255,255,0.3));
	color: #000;
	padding: 30px;
	border-radius: 10px;
}
.loginFormLabel{
	margin: 10px 0;
}
.loginInput{
	padding: 10px;
	background: white;
	border: none;
	border-radius: 10px;
}
.loginButton{
	margin-top: 20px;
	cursor: pointer;
	background-image: linear-gradient(to right, #7b4397, #dc2430);
	border: none;
	color: white;
	border-radius: 10px;
	padding: 10px;
	font-weight: 600;
	letter-spacing: 1px;
}

.loginButton:hover{
	transition: .2s ease-in-out;
	background-image: linear-gradient(to left, #7b4397, #dc2430);
}
.loginButton:disabled{
	cursor: not-allowed;
	background: rgb(252,173,173);
}
.loginRegisterButton{
	position: absolute;
	top: 70px;
	right: 20px;
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255,255,255,0.5));
	cursor: pointer;
	border: none;
	padding: 10px 20px;
	color: #000;
	border-radius: 10px;
	font-weight: 600;
}


.loginRegisterButton:hover{
	background-image: linear-gradient(to right, #7b4397, #dc2430);
	color: #fff;
	outline: none;
}

.sign-up{
	text-align: center;
	margin-top: 15px;
}

.icons{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: .5rem;
	font-size: 1.5rem;
}



.fa-facebook{
	color: #3b5998; 
}
.fa-twitter{
	color: #00acee; 
}
.fa-google{
	color:tomato; 
}

@media (max-width: 700px){
	.loginForm{
		width: 80%;
	}
}