
nav{
	width: 100%;
	height: 60px;
	position: sticky;
	background: #f8f9fa;
	top: 0;
	display: flex;
	align-items: center;
	font-family: 'Josefin Sans',sans-serif;
	z-index: 100001;
}
.navbar-collapse{
	background: #f8f9fa;
}
.topRight{
	float: right;
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.topIcon{
	font-size: 20px;
	margin-right: 10px;
	color: #444;
	cursor: pointer;
}
.topImg{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}
.topSearchIcon{
	font-size: 18px;
	color: #666;
	cursor: pointer;
	margin-left: 15px;
}
.navbar-nav{
	margin-left: 25px;
}
@media (max-width: 600px){
	nav li{
		text-align: center;
	}
	.topRight{
		width: 100px;
		margin: 10px;
	}
}